sanic==19.12.2

sanic_session

jinja2==2.11.1

aioredis~=1.3.1

Pillow==7.1.1

DBUtils~=1.3

pymysql==0.9.3

redis==2.10.0

dateutils==0.6.8

pandas~=1.1.1

python-dateutil~=2.8.1
xlwt~=1.3.0
argparse~=1.4.0
configparser~=5.0.0
paramiko~=2.7.1